<table id="{{ status_type }}-table">
	<thead>
		 <tr>
		   <th width="100">Id</th>
		   <th width="500">File</th>
		   <th width="200">Progress</th>
		   {% if status_type == "pending" %}
		   		<th width="200">Speed</th>
		   {% endif %}
		   <th width="200">Status</th>
		 </tr>
	</thead>
	<tbody id="{{ status_type }}-table-body">
		{% for download in downloads %}
			<tr id="{{ download.id }}-tr">
				<td class="download-id">{% download_id download=download %}</td>
				<td class="download-file">{{ download.file }}</td>
				<td class="download-percentage">
					<div class="progress">
						<p class="percent">{% percentage download=download %}%</p>
                		<span class="meter teal" style="width: {% percentage download=download %}%"></span>
              		</div>
				</td>
				{% if status_type == "pending" %}
		   			<td class="download-speed"></td>
		   		{% endif %}
		   		<td class="download-status">
		   			{% if download.status == 0 %}
		   				Pending
		   			{% elif download.status == 1 %}
		   				Acquired
		   			{% elif download.status == 2 %}
		   				Active
		   			{% elif download.status == 3 %}
		   				Paused
		   			{% elif download.status == 4 %}
		   				Completed
		   			{% elif download.status == 5 %}
		   				Failed
		   			{% elif download.status == 6 %}
		   				Not Found
		   			{% endif %}
		   		</td>
			</tr>
		{% endfor %}
	</tbody>
</table>