{% extends "./template.html" %}

{% block header %}
	{% include "include/logged-in-header.html" %}
{% endblock %}

{% block contentTitle %}
<div class="row">
	<h3>Home</h3>
</div>
{% endblock %}

{% block content %}
	<div class="home">
		<ul id="download-tabs" class="tabs" data-tab>
		  <li class="tab-title active"><a href="#pending">Pending</a></li>
		  <li class="tab-title"><a href="#completed">Completed</a></li>
		  <li class="tab-title"><a href="#failed">Failed</a></li>
		  <li class="tab-title"><a href="#add">Add</a></li>
		</ul>
		<div class="tabs-content">
		  <div class="content active" id="pending">
		    <div class="row">
		    	<div class="small-12 columns">
		    	</div>
		    </div>
		  </div>
		  <div class="content" id="completed">
		    <div class="row">
		    	<div class="small-12 columns">
				    <table id="complete-table">
				   		<thead>
						    <tr>
						      <th>Id</th>
						      <th width="200">Url</th>
						      <th width="200">Progress</th>
						      <th width="200">Speed</th>
						      <th width="200">Status</th>
						    </tr>
		  				</thead>
		  				<tbody></tbody>
				    </table>
		    	</div>
		    </div>
		  </div>
		  <div class="content" id="failed">
		    <div class="row">
		    	<div class="small-12 columns">
				    <table id="failed-table">
				   		<thead>
						    <tr>
						      <th>Id</th>
						      <th width="200">Url</th>
						      <th width="200">Progress</th>
						      <th width="200">Speed</th>
						      <th width="200">Status</th>
						    </tr>
		  				</thead>
		  				<tbody></tbody>
				    </table>
		    	</div>
		    </div>
		    <table>
		    
		    </table>
		  </div>
		  <div class="content" id="add">
		  	<div class="row">
		    	<div class="small-12 columns">
		    		Paste in downloads below:
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="small-12 columns">
		    		<textarea id="download-url-area" rows="15" cols="40"></textarea>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="small-4 small-push-8 columns">
		    		<input id="add-downloads" class="button sgButton right" type="button" value="Add" />
		    		<div class="clearfix"></div>
		    	</div>
		    </div>
		  </div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/static/js/ui.js"></script>
{% endblock %}