{% extends "./template.html" %}

{% block contentTitle %}
<div class="row">
	<h3>Initial Configuration</h3>
</div>
{% endblock %}

{% block content %}
	<div class="config-form-container">
		<form action="/" method="POST">
			<div class="row">
    			<div class="large-12 columns">
					<label {% if error.userNameError %}class="error"{% endif %}>UserName
        				<input type="text" name="userName" placeholder="username" value="{{ config.user_name }}" />
      				</label>
      				{% if error.userNameError %}<small class="error">{{ error.userNameError }}</small>{% endif %}
				</div>
			</div>
			<div class="row">
    			<div class="large-12 columns">
					<label {% if error.passwordError %}class="error"{% endif %}>Password
        				<input type="password" name="password" placeholder="password" />
      				</label>
      				{% if error.passwordError %}<small class="error">{{ error.passwordError }}</small>{% endif %}
				</div>
			</div>
			<div class="row">
    			<div class="large-12 columns">
					<label {% if error.downloadDirectoryError %}class="error"{% endif %}>Download Directory
        				<input type="text" name="downloadDirectory" placeholder="download directory" value="{{ config.download_directory }}" />
      				</label>
      				{% if error.downloadDirectoryError %}<small class="error">{{ error.downloadDirectoryError }}</small>{% endif %}
				</div>
			</div>
			<div class="row">
    			<div class="large-12 columns">
					<label {% if error.numSimultaneousDownloadsError %}class="error"{% endif %}>Number Simultaneous Downloads
        				<input type="text" name="numSimultaneousDownloads" placeholder="number simultaneous downloads" value="{{ config.num_simultaneous_downloads }}" />
      				</label>
      				{% if error.numSimultaneousDownloadsError %}<small class="error">{{ error.numSimultaneousDownloadsError }}</small>{% endif %}
				</div>
			</div>
			<div class="row">
    			<div class="large-12 columns">
        			<input class="button sgButton" type="submit" value="Submit" />
				</div>
			</div>
		</form>
	</div>
{% endblock %}