<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Surrogate{% block title %} - The Proxy Download Server{% endblock %}</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no" />
	<link type="text/css" rel="stylesheet" href="/static/css/app.css" />
	<script type="text/javascript" src="/static/js/modernizr.js"></script>
</head>
<body>

	<div class="wrapper">
	
		<div class="outter-container header-container">
			<div class="inner-container header">
	     		{% block header %}
	     			{% include "include/header.html" %}
	     		{% endblock %}
	   		</div>
	   	</div>
	   	
	   	<div class="outter-container content-container">
		   	<div class="inner-container content">
				{% block contentTitle %}{% endblock %}
		     	{% block content %}{% endblock %}
		   	</div>
	   	</div>
	   	
	   	<div class="outter-container footer-container">
		   	<div class="inner-container footer">
		     	{% block footer %}{% endblock %}
		   	</div>
	   	</div>
	   	
	</div>
	
	<script type="text/javascript" src="/static/js/app.js"></script>
	<script>
		$(document).foundation();
	</script>
	{% block scripts %}{% endblock %}
</body>
</html>