<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Surrogate{% block title %} - The Proxy Download Server{% endblock %}</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no" />
	<link type="text/css" rel="stylesheet" href="static/css/app.css" />
	<script type="text/javascript" src="static/bower_components/modernizr/modernizr.js"></script>
</head>
<body>

	<div class="wrapper">
	
		<div class="header">
	     	{% block header %}{% endblock %}
	   	</div>
	   	
	   	<div class="content">
	     	{% block content %}{% endblock %}
	   	</div>
	   	
	   	<div class="footer">
	     	{% block footer %}{% endblock %}
	   	</div>
	   	
	</div>
	
	<script type="text/javascript" src="static/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="static/bower_components/fastclick/lib/fastclick.js"></script>
	<script type="text/javascript" src="static/bower_components/foundation/js/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>
	{% block scripts %}{% endblock %}
</body>
</html>